@import "global.scss";
body{
    background-color: $ui-global-bg-color;
    font-size: 16px;
    font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
    color: $ui-global-font-color;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin:0px;
}

#main{
    width:100%;
    height: 100%;
    position: absolute;
}